.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background: linear-gradient(#8c55aa,pink);
 
}

#dark {
  background: linear-gradient( #46045e, #5d0337);

}

body {
  margin: 0;
  padding: 0;
}

body .main {
  width: 400px;
  height: 400px;

  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#light .main {
  background-color: #fff;
}

#dark .main {
  background-color: #38004c;
}
body .mainCPass {
  width: 500px;
  height: 550px;
  box-sizing: border-box;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
body .mainRe {
  width: 500px;
  height: 600px;
  box-sizing: border-box;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
#light .mainRe{
  background-color: #fff;
}

#dark .mainRe {
  background-color: #38004c;
}

#light .mainCPass{
  background-color: #fff;
}

#dark .mainCPass {
  background-color: #38004c;
}


.sign {
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

#light .sign {
  color: #8c55aa;
}

#dark .sign {
  color: #ffffff;
}

.username {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.password {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
 
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

#light .username,
#light .password {
  color: rgb(38, 50, 56);
  background: rgba(136, 126, 126, 0.04);
}

#dark .username,
#dark .password {
  color: rgb(254, 255, 255);
  background: rgba(255, 247, 247, 0.299);
}

.username:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9c27b0, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  padding-top: 15px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e1bee7;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
.errorMsgConfi{
  position: absolute;
  top:38em;
  left:52em;
  max-width: 100%;
  font-size: 12px;
  color: red;
}
.errorMsgOld{
  position: absolute;
  top:23.4em;
  left:52em;
  max-width: 100%;
  font-size: 12px;
  color: red;
}
.errorMsgNew{
  position: absolute;
  top:30.5em;
  left:52em;
  max-width: 100%;
  font-size: 12px;
  color: red;
}.errorMsglogin1{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:29.5em;
  left:56em;
  
}
.errorMsglogin2{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:35.5em;
  left:56em;
  
}
.errorMsg1{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:21.5em;
  left:52em;
  
}
.errorMsg2{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:28.6em;
  left:52em;
  
}
.errorMsg3{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:36em;
  left:52em;
  
}
.errorMsg4{
  position: absolute;
  max-width: 100%;
  font-size: 12px;
  color: red;
  position: absolute;
  top:43.5em;
  left:52em;
  
}
.changepass{
  position: absolute;
  top:32.5em;
  left:48.5em;
}