.Postt{
    display: flex;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;
    padding: 17px 0;
}
.container{
    width: 600px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
}
.post header{
    font-size: 22px;
    font-weight: 600;
    text-align: center; 
    padding: 0;
    border-bottom: 1px solid;
}
.post form{
    margin: 20px 25px;    
}
.post form.content{
    display: flex;
    align-items: center;

}
.post form.content img{
    max-width: 52px;

}
.post form.content.detail{
    margin-left: -3px 0 0 12px;
}
form.content.detail p{
    font-size: 17px;
    font-weight: 500;
    
}
.post form :where(textarea, button){
    width: 100%;
    outline: none;
    border: none;   
}
.post form textarea{
    font-size: 18px;
    resize: none;
    margin-top: 30px;
    min-height: 100px;
}
form button{
    height: 53px;
    cursor: no-drop;
    color: grey;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;

}
form textarea:valid ~ button{
    color: white;
    cursor: pointer;
    background: grey;
}
form .option{
    border: 1px solid grey;
    height: 57px;
    border-radius: 7px;
    padding: 0 15px;
    margin: 15px 0;
}
form .option p{
    font-size: 15px;
    color:gray;
}
form .option .list :where(.list, li){
    display: flex;
    height: 42px;
    justify-content: center;
}
form .option .list li{
    list-style: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}
.option . .list li:hover {
    background-color: white;  
};
.option .list li img{
    cursor: pointer;
    width: 23px;
}
