.row {
    display: flex;
    align-items: center;
  }
  
  .col-sm-3 {
    display: flex;
    align-items: center;
  }
  
  .edit-icon {
    margin-left: 10px;
  }
  
  .col-sm-9 {
    margin-left: auto;
  }
  
  .text-secondary {
    margin-left: 5px;
  }