.container {
  display: flex;
  position: relative;
}

.offcanvas {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow: hidden;
  z-index: 999;
  transition: left 0.4s ease-out;
}

/* Hiển thị offcanvas khi nó được mở */
.offcanvas.active {
  left: 0;
}

.content {
  background-color: brown;
  flex: 1;
  padding: 20px;
  transition: margin-left 0.4s ease-out;
}

/* Hiển thị box content khi offcanvas được mở */
.content.active {
  margin-left: 340px;
}
