body{
    font-family: inherit;
    .title{
       color: aqua;
       text-align: center;
       margin-bottom: 50px;
    }

    .login-form-container{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input-Inf{
        height: auto;
        max-width: 400px;
        flex-grow: 1;
        background: rgba(34, 63, 68, 0.8);
        padding: 30px 30px 40px ;
        box-shadow:0px 0px 20px 5px rgba(255, 255, 255, 0.8);
    }

    .form-group{
        border-bottom: 1px solid #fff;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .input-Inf{
        background: transparent;
        border: 0;
        outline: 0;
        color: white;
        margin-left: 20px;
        width: 100%;
    }

    #form-submit{
        background: none;
        text-align: center;
        border: 1px solid #f5f5f5;
        width: 100%;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-top: 10px;
    }

    #form-submit:hover{
        border: 1px solid blue;
    }

    #link{
        text-align: center;
    }
}


